CONFLUENCE_VERSION=8.7.2

COMPOSE_PROJECT_NAME=dockerized-confluence

JVM_MINIMUM_MEMORY=4096m
JVM_MAXIMUM_MEMORY=4096m
JVM_RESERVED_CODE_CACHE_SIZE=2048m

MYSQL_VERSION=8.0.32
MYSQL_ROOT_PASSWORD=123456
MYSQL_DATABASE=confluence
MYSQL_USER=confluence
MYSQL_PASSWORD=123123

# 不需要代理，请注释掉
# HTTP_PROXY=http://192.168.1.7:1088
# HTTPS_PROXY=http://192.168.1.7:1088
# NO_PROXY='localhost,127.0.0.1,.trac.cn'

# 运行在 nginx 后面，需要设置下面参数
# https://hub.docker.com/r/atlassian/jira-software
# https://bitbucket.org/atlassian-docker/docker-atlassian-jira/src/master/
# ATL_PROXY_NAME=kb.trac.cn
# ATL_PROXY_PORT=443
# ATL_TOMCAT_SCHEME=https
# ATL_TOMCAT_SECURE=true

